<div class="spell-checker">
  <div class="card">
    <div class="card-header">Spell Suggestions</div>
    <div class="card-content">
      <div
        id="contentEditableDiv"
        contenteditable="true"
        (input)="onTextChanged($event)"
        (keydown)="onKeyDown($event)"
      ></div>
      <div class="loading" *ngIf="loading">Loading...</div>
      <div class="suggestions" *ngIf="suggestions.length">
        <ul>
          <li
            *ngFor="let suggestion of suggestions; let i = index"
            [class.selected]="i === selectedIndex"
            (click)="applySuggestion(suggestion)"
          >
            {{ suggestion }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>